<footer class="page-footer">
  <div class="container icons">
    {% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="grey-text text-darken-3 mdi mdi-dribbble"></i></a>{% endif %}
    {% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="grey-text text-darken-3 mdi mdi-email"></i></a>{% endif %}
    {% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="grey-text text-darken-3 mdi mdi-facebook"></i></a>{% endif %}
    {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="grey-text text-darken-3 mdi mdi-github-circle"></i></a>{% endif %}
    {% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="grey-text text-darken-3 mdi mdi-google-plus"></i></a>{% endif %}
    {% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="grey-text text-darken-3 mdi mdi-instagram"></i></a>{% endif %}
    {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="grey-text text-darken-3 mdi mdi-linkedin"></i></a>{% endif %}
    {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="grey-text text-darken-3 mdi mdi-stack-overflow"></i></a>{% endif %}
    {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="grey-text text-darken-3 mdi mdi-twitter"></i></a>{% endif %}
    {% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="grey-text text-darken-3 mdi mdi-youtube-play"></i></a>{% endif %}
  </div>
  <div class="footer-copyright">
    <div class="container grey-text text-darken-3">
    {{ site.copyright }}
    </div>
  </div>
</footer>